@import "./variables.scss";

.main-header {
  border-bottom: solid 2px $theme-dark-violet;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;

  h1 {
    color: $theme-dark-violet;
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 20px;
  }
  button {
    display: flex;
    flex-direction: row;
    color: $theme-dark-violet;
    font-size: 0.9rem;
    margin-right: 20px;

    img {
      width: 20px;
      height: 20px;
      margin: 0 5px 0 0;
    }
  }
}
